<tr class="suggestionsRow">
    <td colspan="9">
        <h2>IMDb Movie Search Results:</h2>
        <ul class="suggestions center"></ul>
        <input type="hidden" value="{{ fullname }}" class="file" />
        <div class="center clearfix">
            <button class="btn btn-danger hide-suggestions">Cancel</button>
        </div>
    </td>
</tr>